.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a{
  color: white;
  text-decoration: none;
}

.narrow-wrapper{
  max-width: 500px;
  margin: auto;
}

.black-link{
  color: black
}

.black-link:hover{
  color: #777;
}

.budget{
  box-shadow: 2px 2px 8px #ccc;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.budget:hover{
  background-color: rgba(100,100,100,0.2)
}
